<li>
<div class = "book">
    <div class ="mainInfo">
        <div class="image"> <img src= <%- `${book.imgUrl}` %> alt=<%- `${book.title}` %>> <%-  %> </div>
    </div>
    <div class="details">
        <div class = "title"><%- `${book.title}` %> </div>
        <div class="author"><%- `${book.author}` %></div>
        <div class = "type" ><%- `(${book.type})` %> </div>
        <div class="description"><%- `${book.description}` %> </div>
    </div>
</div>
</li>