
    <li>
        <div class="song">
            <div class = "ranking">
                <div class = "rank"><%-`#${song.rank}`%> </div>
                <div class = "streams"><%- `(${song.streams} streams)` %> </div>
            </div>
        <div class = "infos">
            <div class = "title"><%-`${song.title}` %></div>
            <div class = "artist"><%-`by ${song.artist}` %></div>
            <div class = "publicationDate"><%-`publication date: ${song.publicationDate}` %></div>
        </div>
    </div>
    </li>

