<%- include( '../partials/header') %>
<div class="main">
    <h2 class='title'></h2>
    <p class='subtitle'></p>
    <div class = "songPage">
        <a class="arrow" href="<%=`/top50/song/${id-1}`  %> "><</a>
        <div class="songDetails">
            <% const idIndex = id-1 %> 
            <p class = "title">
            <%- `${top50[idIndex].title}` %> 
            </p>
            <p class = "artist" >
            <%- `${top50[idIndex].artist}` %>
            </p>
            <p class = "streams">
            <%- `${top50[idIndex].streams}` %> 
            </p>
        </div>
        <a class="arrow" href="<%=`/top50/song/${id+1}`  %> ">></a>
    </div>
</div>
<%- include( '../partials/footer') %>